.kit-file-upload-action {
    float:right;
    margin:0 10px;
}
.kit-file-upload-action label{
    float:left;
    width:100px;
}
.kit-file-upload-action input{
    width:80px;;
}
.kit-file-upload-action-list{
    float:right;
}
.kit-file-upload-list {
    list-style: none;
    margin: 0px;
}

.kit-file-upload-list li:first-child .kit-file-upload-line-move-up{
    display:none;
}

.kit-file-upload-list li:last-child .kit-file-upload-line-move-down{
    display:none;
}

.kit-file-upload-list li {
    position: relative;
    margin: 3px;
    padding: 2px;
    border: 1px solid #CCCCCC;
}

.kit-file-upload-list li:hover {
    background-color: #FFFFAA;
}

.kit-file-upload-list li a {
    float:right;
    display: block;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    margin: 0 1px;
    padding: 1px 7px;
    text-align: center;
}

.kit-file-upload-list li a:hover {
    background-color: #BB092D!important;
    color: #FFFFFF;
}

.kit-file-upload-list li img {
    max-height: 60px;
    max-width: 100px;
    vertical-align: middle;
}

.kit-file-upload-line-parent-publish{
    background-color: #37c62f!important;
}

.kit-file-upload-line-parent-publish-no{
    background-color: #BBBBBB!important;
}

.kit-file-upload-list-document-icon {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 60px;
    margin: 2px;
    vertical-align: middle;
    background-color: #E0E0E0;
    border: 1px solid #CCCCCC;
    border-top-right-radius: 5px;
}

.kit-file-upload-list-document-icon > div {
    display: block;
    position: absolute;
    bottom: 10px;
    left: -3px;
    font-size: 0.8em;
    text-transform: uppercase;
    background-color: #BE0022;
    color: #FFF;
    font-weight: bold;
    padding: 1px 5px;
}
